@media all
{
  .submenu {
    width: 100%;
    overflow: hidden;
    margin: 0;
    list-style-type: none;
  }

  .submenu ul { list-style-type: none; margin:0; padding: 0; }
  .submenu li { float:left; width: 100%; margin:0; padding: 0; }

  .submenu a,
  .submenu strong {
    display:block;
    padding: 0;
    text-decoration: none;
	background-position: bottom left;
  }

  /* Menu Title */
  .submenu li.title {
    width: 90%;
    padding: 3px 0px 3px 10%;
    font-weight: bold;
    color: #444;
    background-color: #fff;
    border-bottom: 2px #888 solid;
  }

  .submenu li span {
    display:block;
    width: 90%;
    padding: 3px 0px 3px 10%;
    font-weight: bold;
  }

  /* Level 1 */
  .submenu li#active,
  .submenu li strong {
    width: 90%;
    padding: 3px 0px 3px 10%;
    font-weight: bold;
    color: #fff;
    background-color:#aab;
    border-bottom: 1px #eee solid;
  }

  .submenu li a { width: 90%; padding-left: 10%; background-color:#fff; color: #444; }
  .submenu li a:focus,
  .submenu li a:hover,
  .submenu li a:active,
  .submenu li.current a { background-color:#f63; color: #fff; background-position: bottom left }

  /* Level 2 */
  .submenu li ul li a,
  .submenu li ul li#active,
  .submenu li ul li strong,
  .submenu li ul li span { width: 80%; padding-left: 20%; }

  .submenu li ul li a, .submenu li.current ul li a { background-color:#f8f8f8; color: #666; }
  .submenu li ul li a:focus,
  .submenu li ul li a:hover,
  .submenu li ul li a:active,
  .submenu li ul li.current a { background-color:#f63; color: #fff; }
}